pandas==2.3.3
requests==2.32.5
sqlalchemy==2.0.45
psycopg2-binary
python-dotenv
holidays==0.87
streamlit==1.52.2
streamlit-folium
folium==0.20.0
ortools==9.14.6206
osmnx==2.0.7
networkx==3.6.1
scikit-learn==1.8.0
geopy==2.4.1
